/*Mobile first*/
.container {
    display: flex;
    flex-flow: column wrap;
    align-items: right;
    align-content: center;
    justify-content: space-arround;
}

.child{
	flex: 0 1 11em;
}

/* Medium screens */
@media all and (min-width: 600px) {

}

/* Large screens */
@media all and (min-width: 800px) {

}