{% extends "base.html" %}

{% block description %}
    {{ description }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}
	{% if form.errors %} 
	    <!-- Futurs errors -->
	{% endif %} 
    <form action="" method="post">{% csrf_token %} 
            {{ form.as_p }} 
        <input type="submit" value="Send"> 
    </form> 
{% endblock %}

{% block footer %}
{% endblock %}