{% extends "base.html" %}

{% block description %}
    {{ description }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}" />
        <input type="submit" value="Search" />
    </form>
    <article class="child" >
        <h1>{{ post.headline|upper }}</h1>
        <p class="post-subtittle">{{ post.kudos }} | {{ post.number_comments }} | {{ post.mod_date }}</p>
        <p class="post-body">{{ post.text|escape|truncatewords:75 }}</p>
        <!-- Comments -->
        <div class="post-comments" id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </article>

{% endblock %}

{% block js %}
<script>
    /** var disqus_config = function () {
        this.page.url = PAGE_URL; //page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; //unique identifier variable
    };*/
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//josegomez.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
</script>
{% endblock %}