{% extends "base.html" %}

{% block description %}
    {{ description }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}
	<p class="thank-you">I will get in contact with you as soon as possible. Thank you for your email.</p>
    <small>You'll be redirected to the homepage in a few seconds</small>
{% endblock %}

{% block js %}
    <script>window.location.replace("/jgm/");</script>
{% endblock %}